@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>
  Web アプリケーションを作るということは、かなり広い分野の技術が必要になってくるので、簡単なことではありません。どういうことをして作っていくかを簡単に書くと以下のようになります。
</p>

<ul>
  <li>アプリケーションを動かせるようにプログラムを覚える</li>
  <li>サービスを企画する</li>
  <li>Webサイトを立ち上げれる</li>
  <li>サービスを作るために文章を書いたり、プログラムをしたりする</li>
  <li>Webサイトのデザインをする</li>
  <li>多くのユーザーを集めて、ビジネスとして軌道に乗せる</li>
</ul>

<p>
  これって最後までたどりつくのが難しいことはないですか？プログラムして企画して文章を書くという幅広いことをしないといけないので、普通にやっていたらどこかで引っ掛かってしまいます。そこは、自分の個性をいかして、手を抜けるところは手を抜いて、できるだけ迅速に構築してユーザーに提供するということが大事になってきます。このサイトでは、Web アプリケーションを作るため自分でいろいろと試行錯誤したことをメモしています。
</p>
